.fields{
   background-color: grey;
    font-family: 'Libre Caslon Text', serif;
    margin: 2vh;
}
body {
    color: black;
    background-color: #F7E7ce;
    
}
.b {
    float: right;
    margin: 5vh;
    font-weight: bolder;

}
header {
    margin-top: 5vh;
    text-align: right;
    font-weight: bold;

}
header2 {
    font-weight: bold;
    text-align: left;
    border-style: solid;
    border-color: black;
    color: white;
    background-color: black;
    font-size: larger;
    margin: 2vh;
}
img{
    height: 50px;
    width: 50px;
    text-align: right;
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}