body {
    background-color: beige;
}
.intropage {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    text-align: center;
    
}


#title {
    height: 10em;
    position: relative;
    font-size: 25px;
    font-family: Cursive;
    font-style: Italic;
    font-weight: Bold;
    font-weight: 999;
    margin: 0;
    position: absolute;
    top: 24%;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    display: flex;
    justify-content: column;
}

.about {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 35px;
}