header{
    color:white;
    font-size: 30px;
    font-weight: normal;
    font-family: "Verdana", Verdana, sans-serif;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body{
    background-color: #F7E7CE;
}

img{
    height: 50px;
    width: 50px;
    text-align: right;
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}