header{
    color:white;
    font-size: 30px;
    font-weight: normal;
    font-family: "Verdana", Verdana, sans-serif;
    background-image: url("../Salinas.jpg");
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-size: cover;
}

body{
    background-color: #F7E7CE;
}

img{
    height: 50px;
    width: 50px;
    text-align: right;
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

.post-div{
    grid-template-columns: 10px 10px auto;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}

.Complaints h2{
    text-decoration: none;
}

#Type{
    height: 50px;
    width: 50px;
    bottom: 8px;
    right: 16px;
    font-size: 30px;
}
#Location{
    font-size: 20px;
}

#Date{
    font-size: 20px;
}
b a{
    float: right;
}