header{
    color:white;
    font-size: 30px;
    font-weight: normal;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: url("../Salinas.jpg");
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    background-position: center;
    background-size: cover;
}

body{
    background-color: #F7E7CE;
    
}

img{
    height: 50px;
    width: 50px;
    text-align: right;
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

.post-div{
    grid-template-columns: 10px 10px auto;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-style: solid;
    border-color: black;
    
}

.Complaints h2{
    text-decoration: none;
    text-shadow: lightblue 2px 2px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#Type{
    height: 50px;
    width: 50px;
    bottom: 8px;
    right: 16px;
    font-size: 30px;
}
#Location{
    font-size: 20px;
}

#Date{
    font-size: 20px;
}

b a{
    float: right;
    text-decoration: none;
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body h1{
    color: black;
    text-shadow: lightgreen 2px 2px;
    font-family: "Verdana", Verdana, sans-serif;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
}
