body {background-color: #F7E7ce;}
/*h1   {color: #4D00B2;}*/
p1    {color: green;} 

.a {
    float: left;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: grey;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.b{
    float: right;
    margin: 20px;
    font-weight: bolder;
    color: red;
    text-decoration: none
}
.filebutton {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
}
.heading {
    color:white;
    font-size: 30px;
    font-weight: normal;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: url("../Salinas.jpg");
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    background-position: center;
    background-size: cover;
    font-weight: bold;
}


.profdiv{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    position: relative;
    float: left;
}
.post-div{
    border-width:1fr 1fr 1fr 1fr;
    padding-left:1fr;
    position: relative;
    border-style: solid;
    
}
img{
    height: 50px;
    width: 50px;
    text-align: right;
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}


