body {background-color: white;}
/*h1   {color: #4D00B2;}*/
p1    {color: green;} 

.a {
    float: left;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: grey;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.b {
    float: right;
    margin: 20px;
    font-weight: bolder;
}
.filebutton {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
}
.heading {
    font-size: larger;
    font-weight: bolder;
    background-color: lightgrey;
    justify-content: center;
    padding-top: 5px;
}


.profdiv{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    position: relative;
    float: left;
}
.post-div{
    border-width:1fr 1fr 1fr 1fr;
    padding-left:1fr;
    background-color: grey;
    position: relative;
    float: left;
}



