<html> <head> 
<link rel="stylesheet" href="../static/filecomplaint.css">

</head>
<header>
    <a href="../templates/intro.html">Logout</a> &nbsp;&nbsp; <a href="/reports"> Home </a>
    <br> &nbsp;&nbsp;&nbsp;
</header>
<header2> CITIZENS' REPORT
</header2>

<body>
 
<div class="fields">
            <form method="POST" action="/myreport">
                Title: <br>
                <input style="width:50%" type="text" name="title-first-ln" value="">
                <br>
                Short description: <br>
                <textarea name="description-second-ln"></textarea>
                <br>
                Location: <br>
                <input style="width:50%" type="text" name="location" value="">
                <br><br>
                Type of problem: <br>
                <input type="radio" name="post-type" value="https://di-uploads-pod1.s3.amazonaws.com/depaulachevy/uploads/2016/07/Pothole-1024x768.jpg"> Pothole<br>
                <input type="radio" name="post-type" value=""> Tree<br>
                <input type="radio" name="post-type" value="http://mrsc.org/getmedia/c9ffa2a9-5d18-4a54-a52c-025156b3d5b4/sidewalk-cracked2.jpg.aspx?width=1920&height=2560&ext=.jpg"> Sidewalks
                <br>
                <br>
                <input type="submit" value="Create Post">
                <br><br>
            </form>
            </div>
        <div class="image">
  <img src= ../StartupHackathon.png>
</body>
</html>