<!DOCTYPE html>
<html>
    <head> 
    <link rel="stylesheet" href="intro.css">
    </head>
    <body>
    <div class = "intropage">
        <br><br>Hello!<br><br>Welcome to Citizens' Report!
        <a id="logo" href="/login">Login</a>
    </div>
    <div class="about">
        <br>About Us:
    </div>
    <div id="title">
        <br><br><br>
        Citizens' Report is a website created to improve the<br> communication between citizens and their
        communities.<br> Our website allows users to interact with other people in<br> their city
        to report problems and issues to local officials.<br> 
        Join Citizens' Report today to improve the overall safety<br>of your community.
    </div>
    </body>
</html>