<!DOCTYPE html>
<html>
    <head> 
    <link rel="stylesheet" href="intro.css">
    </head>

    <body> 
    <div class = "intropage">
        Hello!<br>Welcome to Citizens' Report!
        <a id="logo" href="/login">Login</a>
    </div>
    <div id="title">
        Citizens' Report is a website created to improve the communication between citizens and their
        communities. Our website allows users to interact with other people in their city
        to report problems and issues to local officials. 
        Join Citizens' Report today to improve the overall safety of your community.
    </div>
    </body>
</html>