<!DOCTYPE html>
<html>
    <head> 
    <link style = text/css rel="stylesheet" href="../static/main.css">
    </head>
    <header>
         Citizens Report
    </header>
    <body> 
    <center>
    <h1>Join your community in reporting any issues that you may encounter! </h1>
    </center>
      <div>
        <br>
        </br>
       <b> <a href="/"> Log out </a>
       <b> <a href="/myreport"> My Reports </a></b>
       </div>
       
  
      <div class="Complaints">
       <br>
       <h2>Complaints</h2>
       <div class="eric">
       {% for post in complaints %}
   
        <div class="post-div" >
        <span>
         <h2 id="Type">Type: {{post["Type"]}}</h2>
         <h2 id="Location">Location: {{post["Location"]}}</h2>
         <h2 id="Date">Date: {{post["Date"]}}</h2>
        </span>
        </div>
        <br> <br>
       {% endfor %}
  </div>
  </div>
  
  <div class="image">
  <img src= ../StartupHackathon.png>
  
  </div>
 </body>
</html>