<!DOCTYPE html>
<html>
    <head> 
    <link style = text/css rel="stylesheet" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Citizens Report</title>
    </head>
    <header>
         Citizens Report
    </header>
    <body> 
    <center>
    <h1>Join your community in reporting any issues that you may encounter! </h1>
    </center>
      <div>
        <div class = "b">
        <a href="/">Logout</a>
        <a> | </a>
        <a href="/myreport">My Reports</a><br>
        </div>
       </div>
       
  
      <div class="Complaints">
       <br>
       <h2>Complaints</h2>
       <div class="eric">
       {% for post in complaints %}
   
        <div class="post-div" >
        <span>
         <h2 id="Type">Type: {{post["Type"]}}</h2>
         <h2 id="Location">Location: {{post["Location"]}}</h2>
         <h2 id="Date">Date: {{post["Date"]}}</h2>
        </span>
        </div>
        <br> <br>
       {% endfor %}
  </div>
  </div>
  
  <div class="image">
  <img src= https://s3.amazonaws.com/csumb-uploads/L18vT44tR8yIhtoiOhMQ_hackathon_logo-no-text.png>
  
  </div>
 </body>
</html>