<!DOCTYPE html>
<html>
    <head> 
    <link rel="stylesheet" href="userpost.css">
    </head>
    <div class = "b">
        logout &nbsp;&nbsp;&nbsp;
        home
    </div>
    
    
    
    
    
    
    <div class = "a">
  <h1>This is a heading in a div element</h1>
  <p>This is some text in a div element.</p>
</div>
<div class="a">
    <h1> This is a heading in a div element </h1>
    <p> This is another fucking paragraph jesus christ how many will I have? </p>
</div>
    
    
    </body>
</html>