<!DOCTYPE html>
<html>
    <head> 
    <link rel="stylesheet" href="../static/userpost.css">
    
    </head>
    
    <div class = "heading">  <center> 
    Page for YOUR posts ! </center>
    <br> </div>
    <div class = "b">
        <a href="../templates/intro.html">Log out</a>
        <a href="../templates/main.html">Home</a><br>
    </div>
    
    <div class = "filebutton"> 
      <form method="POST" action="/myposts">
                        <input type="hidden" name="postid" value="{{post.key.id()}}"/>
                        <input type="submit" name="Create" value="File a complaint"/>
      </form>
    </div>
    
    
    
    
    
<div class="profdiv">
    <br>
                {% for post in complaintPosts %}
                <div class="post-div">
                    <h2>Type of problem: {{post["Type1st"]}}</h2>
                    <h2>Location of the problem: {{post["Location2nd"]}}</h2>
                    <h2>Date: {{post["Date3rd"]}}</h2>
                    <form method="POST" action="/deletepost">
                        <input type="hidden" name="postid" value="{{post.key.id()}}"/>
                        <input type="submit" name="Delete" value="Delete"/>
                    </form>
                </div>
                <br><br>
            {% endfor %}
            </div>

            <div class="image">
  <img src= ../StartupHackathon.png>
    
    </body>
</html>